.image-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.image-container img {
  max-width: 180px;
  object-fit: cover;
  border-radius: var(--BORDER-RADIUS);
  margin: 1rem;
}

@media (min-width: 992px) {
  .image-container {
    order: 1;
  }
}
