.btn {
  border: var(--BORDERS-PRIMARY);
  border-radius: var(--BORDER-RADIUS);
  padding: var(--PADDING-TB);
  max-width: 200px;
  width: 100%;
  padding: 5px;
  align-self: center;
  font-family: var(--FF-HEADINGS);
  letter-spacing: 1px;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
  background-color: #e0e0e0;
  color: var(--SECONDARY-COLOR-LIGHT);
}

.save-btn {
  background-color: var(--PRIMARY-COLOR);
  border-color: var(--SECONDARY-COLOR);
}

.del-btn {
  background-color: var(--ERROR-BGCOLOR);
  color: var(--ERROR-COLOR);
}

.back-btn {
  background-color: var(--SECONDARY-COLOR);
  color: var(--PRIMARY-COLOR-DARK);
}

.back-btn a {
  color: var(--PRIMARY-COLOR-DARK);
}

.news__btn {
  padding: 0.5rem;
  color: var(--SECONDARY-COLOR);
  background-color: var(--PRIMARY-COLOR-DARK);
  border-radius: 15%;
}

.news__btn.active,
.news__btn:hover,
.news__btn:focus-visible {
  color: var(--PRIMARY-COLOR-DARK);
  background-color: var(--SECONDARY-COLOR-DARK);
  border-radius: 15%;
}

.hamburger {
  display: flex;
}

/* hamburger,logout button and cart btn style */
.hamburger,
.logout__icon,
.cart__btn {
  justify-content: center;
  align-items: center;
  background-color: var(--PRIMARY-COLOR-DARK);
  color: var(--SECONDARY-COLOR);
  border-radius: 50%;
  padding: 0.5rem;
  border: var(--BORDERS-SECONDARY);
  width: 2.5rem;
  height: 2.5rem;
}

.logout__icon {
  display: none;
  cursor: pointer;
}

.cart__btn {
  position: relative;
  display: flex;
}

.cart__btn::after {
  content: attr(
    data-count
  ); /* Use the data-count attribute to display the number */
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.15rem 0.3rem;
  font-size: 0.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15px;
  min-height: 15px;
  pointer-events: none;
}

.cart__btn[data-count='0']::after {
  display: none;
}

.logout__icon:hover,
.cart__btn:hover,
.cart__btn:focus-visible {
  color: var(--PRIMARY-COLOR-DARK);
  background-color: var(--SECONDARY-COLOR-LIGHT);
  text-shadow: none;
}

.cart__btn:hover::after,
.cart__btn:focus-visible::after {
  background-color: red; /* Ensure the red badge doesn't change color on hover */
  color: white; /* Ensure text color stays white */
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .logout__icon {
    display: flex;
  }
}
