.header-wraper {
  background-color: transparent;
  gap: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.orders-main-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.order-product-layout {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
  padding: 8px 0;
  align-items: center;
}

.order-products-header {
  font-weight: bold;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.order-products-footer {
  font-weight: bold;
  border-top: 1px solid var(--BORDER-COLOR);
}

.order-product-line-item {
  padding: 5px 0;
}

.order-products {
  margin: 10px;
}

.orders-list {
  margin: 10px;
  width: 90%;
}

.order-line-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 10px;
  align-items: center;
  border-bottom: var(--BORDERS-PRIMARY);
  justify-items: center;
  background-color: var(--PRIMARY-COLOR-LIGHT);
}

.order-line-header {
  font-weight: bold;
  background-color: var(--PRIMARY-COLOR);
}

.order-line-item {
  background-color: var(--PRIMARY-COLOR-LIGHT);
}

.order-line-item .text-right {
  justify-self: flex-end;
}

.order-status {
  font-style: italic;
}

@media (min-width: 550px) {
  .header-wraper {
    flex-direction: row;
  }

  .order-product-layout {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }

  .order-line-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
