@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  width: 100%;
  flex-grow: 1;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */

:root {
  /* FONTS */
  --FF: sans-serif;
  --FF-HEADINGS: 'New Amsterdam', cursive;
  --FS: clamp(1rem, 2.2vh, 1.5rem);

  /* MAIN COLORS */
  --PRIMARY-COLOR-DARK: rgb(218, 198, 88);
  --PRIMARY-COLOR: rgb(224, 216, 169);
  --PRIMARY-COLOR-LIGHT: rgb(231, 228, 210);
  --SECONDARY-COLOR-DARK: rgb(0, 0, 0);
  --SECONDARY-COLOR: rgb(27, 25, 23);
  --SECONDARY-COLOR-LIGHT: rgb(139, 119, 83);
  --ERROR-BGCOLOR: lightpink;
  --ERROR-COLOR: firebrick;

  /* MIST COLORS*/
  --PRIMARY-COLOR-DARK-MIST: rgba(218, 198, 88, 0.4);
  --PRIMARY-COLOR-MIST: rgba(224, 216, 169, 0.25);
  --PRIMARY-COLOR-LIGHT-MIST: rgba(231, 228, 210, 0.15);
  --SECONDARY-COLOR-DARK-MIST: rgba(0, 0, 0, 0.8);
  --SECONDARY-COLOR-MIST: rgba(27, 25, 23, 0.45);
  --SECONDARY-COLOR-LIGHT-MIST: rgba(112, 109, 104, 0.35);

  /* COLORS */
  --FONT-COLOR: var(--SECONDARY-COLOR-DARK);
  --BORDER-COLOR: var(--PRIMARY-COLOR-DARK);
  --LINK-ACTIVE: var(--PRIMARY-COLOR-DARK);
  --LINK-COLOR: var(--PRIMARY-COLOR);
  --LINK-HOVER: var(--PRIMARY-COLOR-DARK);
  --HEADER-BGCOLOR: var(--SECONDARY-COLOR);
  --HEADER-COLOR: var(--PRIMARY-COLOR-DARK);
  --TEXT-SHADOW-SECONDARY: -1px -1px 0 var(--SECONDARY-COLOR),
    1px -1px 0 var(--SECONDARY-COLOR), -1px 1px 0 var(--SECONDARY-COLOR),
    1px 1px 0 var(--SECONDARY-COLOR);
  --TEXT-SHADOW-PRIMARY: -1px -1px 0 var(--PRIMARY-COLOR-DARK),
    1px -1px 0 var(--PRIMARY-COLOR-DARK), -1px 1px 0 var(--PRIMARY-COLOR-DARK),
    1px 1px 0 var(--PRIMARY-COLOR-DARK);
  --SECTION-BGCOLOR-LIGHT: rgba(26, 24, 24, 1);
  --SECTION-BGCOLOR: rgba(255, 255, 255, 0.8);

  /* MIST */
  --PRIMARY-MIST: 0 10px 25px var(--PRIMARY-COLOR-DARK-MIST),
    0 20px 30px var(--PRIMARY-COLOR-MIST),
    0 30px 40px var(--PRIMARY-COLOR-LIGHT-MIST);
  --PRIMARY-MIST-LIGHT: 0px 8px 18px var(--PRIMARY-COLOR-DARK-MIST),
    -20px 10px 20px var(--PRIMARY-COLOR-MIST),
    0px 15px 25px var(--PRIMARY-COLOR-LIGHT-MIST);
  --SECONDARY-MIST: 0 10px 25px var(--SECONDARY-COLOR-DARK-MIST),
    0 20px 30px var(--SECONDARY-COLOR-MIST),
    0 30px 40px var(--SECONDARY-COLOR-LIGHT-MIST);
  --SECONDARY-MIST-LIGHT: 0px 5px 12px var(--SECONDARY-COLOR-DARK-MIST),
    -20px 10px 20px var(--SECONDARY-COLOR-MIST),
    0px 15px 25px var(--SECONDARY-COLOR-LIGHT-MIST);

  /* BORDERS */
  --BORDERS-PRIMARY: 1px solid var(--PRIMARY-COLOR-DARK);
  --BORDERS-SECONDARY: 1px solid var(--SECONDARY-COLOR);
  --BORDER-RADIUS: 10px;

  /* STANDARD PADDING */
  --PADDING-TB: 0.25em;
  --PADDING-SIDE: 2.5%;

  /* STANDARD MARGIN */
  --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.hidden-ss-flex {
  display: none;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.black-and-gold-text {
  text-shadow: var(--TEXT-SHADOW-PRIMARY);
}

.secondary-mist {
  border-radius: 20px;
  border: 1px solid var(--SECONDARY-COLOR);
  box-shadow: var(--SECONDARY-MIST-LIGHT);
  animation: secondaryMistMovement 5s ease-in-out infinite;
}

.primary-mist {
  border-radius: 20px;
  border: 1px solid var(--PRIMARY-COLOR);
  box-shadow: var(--PRIMARY-MIST);
  animation: primaryMistMovement 5s ease-in-out infinite;
}

.errmsg {
  background-color: var(--ERROR-BGCOLOR);
  color: var(--ERROR-COLOR);
  font-weight: bold;
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  margin-bottom: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: var(--PRIMARY-COLOR);
  color: var(--SECONDARY-COLOR-DARK);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  border: solid 1px var(--SECONDARY-COLOR-DARK);
}

.red {
  background-color: var(--ERROR-BGCOLOR);
  color: var(--ERROR-COLOR);
}

/* || BUTTONS */
.btn {
  border: var(--BORDERS-PRIMARY);
  border-radius: var(--BORDER-RADIUS);
  padding: var(--PADDING-TB);
  max-width: 200px;
  width: 100%;
  padding: 5px;
  align-self: center;
  font-family: var(--FF-HEADINGS);
  letter-spacing: 1px;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
  background-color: #e0e0e0;
  color: var(--SECONDARY-COLOR-LIGHT);
}

.save-btn {
  background-color: var(--PRIMARY-COLOR);
  border-color: var(--SECONDARY-COLOR);
}

.del-btn {
  background-color: var(--ERROR-BGCOLOR);
  color: var(--ERROR-COLOR);
}

.back-btn {
  background-color: var(--SECONDARY-COLOR);
  color: var(--PRIMARY-COLOR-DARK);
}

.back-btn a {
  color: var(--PRIMARY-COLOR-DARK);
}

.news__btn {
  padding: 0.5rem;
  color: var(--SECONDARY-COLOR);
  background-color: var(--PRIMARY-COLOR-DARK);
  border-radius: 15%;
}

.news__btn.active,
.news__btn:hover,
.news__btn:focus-visible {
  color: var(--PRIMARY-COLOR-DARK);
  background-color: var(--SECONDARY-COLOR-DARK);
  border-radius: 15%;
}

/* || Quantity Input component */
.quantity-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-wrap: nowrap;
}

.quantity-button,
.quantity-input {
  border: 1px solid black;
  background-color: white;
}

.quantity-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.quantity-input {
  font-size: 16px;
  width: 50px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* || GENERAL STYLES */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
}

html {
  scroll-behavior: smooth;
  font-size: var(--FS);
  font-family: var(--FF);
}

body {
  color: var(--FONT-COLOR);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

main.app {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  flex-grow: 1;
  background-color: var(--SECTION-BGCOLOR);
}

h1,
h2,
h3 {
  font-family: var(--FF-HEADINGS);
  color: var(--PRIMARY-COLOR-DARK);
  letter-spacing: 0.1em;
  border-bottom: 1px solid var(--BORDER-COLOR);
  border-top: 1px solid var(--BORDER-COLOR);
  -webkit-text-stroke: 1px var(--TEXT-SHADOW-SECONDARY);
  text-shadow: var(--TEXT-SHADOW-SECONDARY);
}

h1 a,
h2 a,
h3 a {
  color: var(--PRIMARY-COLOR-DARK);
}

p {
  line-height: 1.5;
}

a:any-link {
  text-decoration: none;
}

/* || NAV */
nav {
  letter-spacing: 3px;
}

nav ul {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  list-style: none;
  display: none;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5rem;
  font-family: var(--FF-HEADINGS);
}

nav a:any-link {
  color: var(--LINK-COLOR);
}

nav a.active,
nav a:hover,
nav a:focus-visible {
  color: var(--LINK-HOVER);
  text-shadow: var(--TEXT-SHADOW-SECONDARY);
}

.normal-menu {
  display: none;
}

.normal-menu a.active,
.normal-menu a:focus-visible {
  border-bottom: 1px solid var(--BORDER-COLOR);
  border-top: 1px solid var(--BORDER-COLOR);
}

.normal-menu a:active {
  color: var(--LINK-ACTIVE);
}

.dropdown-menu {
  position: absolute;
  display: flex;
  z-index: 10;
  flex-direction: column;
  background-color: var(--SECONDARY-COLOR);
  top: 100%;
  left: 0px;
  padding: 5px;
  overflow: hidden;
  border: var(--BORDERS-PRIMARY);
  border-top-right-radius: var(--BORDER-RADIUS);
  border-bottom-right-radius: var(--BORDER-RADIUS);
  width: 50%;
}

.dropdown-menu a:focus-visible {
  text-shadow: none;
}

.dropdown-menu .nav-links {
  display: flex;
  flex-direction: column;
}

/* Show dropdown when isMenuOpen */
.dropdown-menu.nav-links {
  display: flex;
}

.nav-links {
  list-style-type: none;
  font-size: 4vh;
  letter-spacing: 5px;
  padding: 10px;
}

.nav-links li {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}

.nav-links li:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    var(--PRIMARY-COLOR),
    rgba(0, 0, 0, 0)
  ); /* Fading effect */
}

.hamburger {
  display: flex;
}

/* hamburger,logout button and cart btn style */
.hamburger,
.logout__icon,
.cart__btn {
  justify-content: center;
  align-items: center;
  background-color: var(--PRIMARY-COLOR-DARK);
  color: var(--SECONDARY-COLOR);
  border-radius: 50%;
  padding: 0.5rem;
  border: var(--BORDERS-SECONDARY);
  width: 2.5rem;
  height: 2.5rem;
}

.logout__icon {
  display: none;
}

/* || HEADER */
header {
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
  background-color: var(--HEADER-BGCOLOR);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header h1 {
  color: var(--HEADER-COLOR);
  text-align: center;
  letter-spacing: 5px;
}

.buttons-header {
  display: flex;
  gap: 30px;
}

/* || CART */

.cart__btn {
  position: relative;
  display: flex;
}

.cart__btn::after {
  content: attr(
    data-count
  ); /* Use the data-count attribute to display the number */
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.15rem 0.3rem;
  font-size: 0.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15px;
  min-height: 15px;
  pointer-events: none;
}

.cart__btn[data-count='0']::after {
  display: none;
}

.cart__btn:hover,
.cart__btn:focus-visible {
  color: var(--PRIMARY-COLOR-DARK);
  background-color: var(--SECONDARY-COLOR-LIGHT);
  text-shadow: none;
}

.cart__btn:hover::after,
.cart__btn:focus-visible::after {
  background-color: red; /* Ensure the red badge doesn't change color on hover */
  color: white; /* Ensure text color stays white */
}

.cart__link {
  text-decoration: none;
  color: inherit;
}

.cart__link:hover {
  color: inherit;
}

/* || MAIN */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

section:nth-of-type(even) {
  background-color: var(--SECONDARY-COLOR);
  color: var(--PRIMARY-COLOR-LIGHT);
}

.news__section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.news__header {
  display: flex;
  gap: 20px;
  font-size: 30px;
  align-items: center;
}

.news__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.single-post p:first-child {
  font-size: smaller;
}

.single-post div {
  margin-bottom: 1rem;
  align-items: center;
}

.news__link {
  color: var(--SECTION-BGCOLOR);
  padding: 0.2rem;
}

.news__link:hover,
.news__link:focus-visible {
  background-color: var(--SECONDARY-COLOR-DARK);
  color: var(--BORDER-COLOR);
  border-radius: 15%;
}

/* || MIST */
.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: url('../images/bg-mist.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.fog {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}

.fog__container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

.fog__img {
  position: absolute;
  height: 100vh;
  width: 300vw;
  z-index: 3;
}

.fog__img--first {
  background: url(../images/fog-1.png);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 90s linear infinite;
}

.fog__img--second {
  background: url(../images/fog-2.png);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 45s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100vw, 0, 0);
  }
}

/* || HOME */
.home__section {
  display: block;
  padding: 2rem;
}

.home__section img {
  display: none;
  width: 200px;
  height: auto;
  border-radius: var(--BORDER-RADIUS);
}

.home__section article {
  overflow: visible;
}

.home__section p {
  padding-top: 20px;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

.image-left {
  float: left;
  margin-right: 1.5rem;
  margin-left: 1rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.image-right {
  float: right;
  margin-right: 1.5rem;
  margin-left: 2rem;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
}

/* || NEWS */

.news__home {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.post__home {
  background-color: var(--PRIMARY-COLOR-LIGHT);
  color: var(--SECUNDARY-COLOR);
  width: 100%;

  border: var(--BORDERS-PRIMARY);
  border-radius: var(--BORDER-RADIUS);
  padding: var(--PADDING-SIDE);
}

.post__home-date {
  font-size: smaller;
  letter-spacing: 1.2px;
}

.post__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10x;
}

.post__header h3 {
  flex-grow: 1;
}

.edit__post {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
}

.edit__post form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.edit__post input,
.edit__post textarea {
  border-radius: var(--BORDER-RADIUS);
  padding: 10px;
}

.edit__post textarea {
  height: 300px;
}

.edit__post form div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* || SHOP */
.main__products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  flex-grow: 1;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background-color: var(--PRIMARY-COLOR-LIGHT);
  color: var(--SECTION-BGCOLOR-LIGHT);
  border: var(--BORDERS-PRIMARY);
  border-radius: var(--BORDER-RADIUS);
  padding: 0px 20px;
  transition: transform 0.3s ease;
}

.product:hover {
  transform: scale(1.05);
}

.product-anchor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--SECONDARY-COLOR-DARK);
}

.product img {
  width: 70%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin: 20px;
  border: var(--BORDERS-SECONDARY);
  text-decoration: none;
}

.product h3 {
  background-color: var(--SECONDARY-COLOR-LIGHT);
  width: calc(100% + 40px);
  letter-spacing: 0.1em;
  font-size: xx-large;
  text-align: center;
  margin: -0px 0px 0px 0px;
  padding: 10px 0;
  box-sizing: border-box;
}

.product-details {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  padding: 10px;
  gap: 5px;
  border-top: var(--BORDERS-PRIMARY);
}

.product-details p:nth-child(even) {
  font-weight: bold;
}

.product-description {
  padding: 10px;
  flex-grow: 1;
  width: 100%;
  border-top: var(--BORDERS-PRIMARY);
}

.product-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  border-top: var(--BORDERS-PRIMARY);
}

.product-bar-cart {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.product-price {
  font-weight: bold;
  font-size: x-large;
  min-width: 100px;
}

.product__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  background-color: var(--PRIMARY-COLOR-LIGHT);
  border: var(--BORDERS-SECONDARY);
  border-radius: var(--BORDER-RADIUS);
  padding: 20px;
}

.product__page img {
  width: 50%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 20px;
  border: var(--BORDERS-SECONDARY);
}

.product__page-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  margin: 20px;
  flex: 1;
}

.product__page-div h2 {
  text-align: center;
  font-size: 2rem;
  background-color: var(--SECONDARY-COLOR-LIGHT);
}

.product-bar {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
  gap: 20px;
  justify-content: center;
}

.product-bar-item {
  flex: 1 1 200px; /* Flex items to grow, shrink, and start at 200px width */
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--PRIMARY-COLOR-LIGHT);
  padding: 20px;
  gap: 20px;
  border: var(--BORDERS-SECONDARY);
  border-radius: var(--BORDER-RADIUS);
  box-sizing: border-box;
}

.product-bar-item:hover {
  transform: scale(1.1);
}

.product-bar-item img {
  display: inline;
  max-width: 100%;
  border: var(--BORDERS-SECONDARY);
  border-radius: var(--BORDER-RADIUS);
}

.product-bar-item h2 {
  font-size: larger;
}

/* || CHECKOUT */
.checkout-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}



.checkout-main h2 {
  padding: 20px;
  border-bottom: var(--BORDERS-SECONDARY);
}

.checkout-buttons {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
  border-top: var(--BORDERS-SECONDARY);
}

.checkout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 55vh;
}

.checkout-spaced {
  align-items: center;
  justify-content: space-between;
}

.checkout-spaced-se {
  align-items: center;
  justify-content: space-evenly;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
}

.cart-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-bottom: var(--BORDERS-SECONDARY);
  align-items: stretch;
}

.cart-summary {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 30px;
  padding: 20px;
  flex: 1;
  width: 100%;
  height: fit-content;
  border: var(--BORDERS-SECONDARY);
}

.cart-summary p:nth-child(odd) {
  font-weight: bold;
  text-align: left;
}

.cart-summary-right p:nth-child(even) {
  text-align: right;
}

.cart-summary-right {
  grid-template-columns: auto 1fr;
}

.cart__item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cart__item-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 15px;
  padding: 10px;
}

.cart__item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.cart__item img {
  display: inline-block;
  max-width: 40px;
  width: 100%;
  border: var(--BORDERS-PRIMARY);
  border-radius: var(--BORDER-RADIUS);
  object-fit: cover;
}

/* || ADDRESS */
.address {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  color: var(--SECTION-BGCOLOR-LIGHT);
}

.address input,
.address select {
  font-size: 1rem;
  height: 2rem;
  padding: 5px 10px;
  border-radius: var(--BORDER-RADIUS);
}

/* || ORDERS */
.header-wraper {
  background-color: transparent;
  gap: 1rem;
  margin: 30px;
  padding: 10px;
}

.order-product-layout {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
  padding: 8px 0;
  align-items: center;
}

.order-products-header {
  font-weight: bold;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.order-products-footer {
  font-weight: bold;
  border-top: 1px solid var(--BORDER-COLOR);
}

.order-product-line-item {
  padding: 5px 0;
}

.order-products {
  margin: 10px;
}

.orders-list {
  margin: 10px;
  width: 90%;
}

.admin-orders-list {
  margin-bottom: 50px;
  padding: 20px;
  width: 90%;
  background-color: var(--HEADER-BGCOLOR);
  border: var(--BORDERS-PRIMARY);
  border-radius: var(--BORDER-RADIUS);
}

.order-line-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 10px;
  align-items: center;
  border-bottom: var(--BORDERS-PRIMARY);
  justify-items: center;
  background-color: var(--PRIMARY-COLOR-LIGHT);
}

.admin-order-line-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 5px 0;
  align-items: center;
  border-bottom: var(--BORDERS-PRIMARY);
}

.order-line-header {
  font-weight: bold;
  background-color: var(--PRIMARY-COLOR);
}

.order-line-item {
  background-color: var(--PRIMARY-COLOR-LIGHT);
}

.order-line-item  .text-right {
  justify-self: flex-end;
}

.order-status {
  font-style: italic;
}

.green-color {
  color: green;
}

.red-color {
  color: red;
}

/* || LOGIN */

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.login main {
  width: 100%;
  max-width: 400px;
}

.login form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.login input {
  font-size: 1.1rem;
  height: 2rem;
  padding: 10px;
  border-radius: var(--BORDER-RADIUS);
}

.login button {
  margin-top: 40px;
}

/* || FOOTER */

footer {
  padding: 1rem;
  background-color: var(--HEADER-BGCOLOR);
  color: var(--HEADER-COLOR);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  text-align: center;
  font-family: var(--FF-HEADINGS);
  margin-top: auto;
}

/* || ANIMATIONS */
@keyframes primaryMistMovement {
  0% {
    box-shadow: var(--PRIMARY-MIST);
  }
  50% {
    box-shadow: var(--PRIMARY-MIST-LIGHT);
  }
  100% {
    box-shadow: var(--PRIMARY-MIST);
  }
}

@keyframes secondaryMistMovement {
  0% {
    box-shadow: var(--SECONDARY-MIST);
  }
  50% {
    box-shadow: var(--SECONDARY-MIST-LIGHT);
  }
  100% {
    box-shadow: var(--SECONDARY-MIST);
  }
}
/* || STYLES BY DEVICE WIDTH  */

@media (min-width: 550px) {
  .hidden-ss-flex {
    display: inline;
  }
  .product {
    padding: 20px;
  }

  .main__products {
    padding: 20px;
    gap: 20px;
  }

  .checkout-buttons {
    flex-direction: row;
  }

  .order-product-layout {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }

  .order-line-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Tablet devices (min-width: 768px) */
@media (min-width: 768px) {
  .cart-bottom {
    flex-direction: row;
    align-items: stretch;
  }

  .hamburger {
    display: none;
  }

  .normal-menu,
  .logout__icon {
    display: flex;
  }

  .home__section img {
    display: block;
  }

  .buttons-header {
    gap: 20px;
  }

  nav ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    font-size: 3vw;
  }

  header h1 {
    font-size: 4vw;
  }

  section {
    flex-direction: row;
    min-height: 50vh;
    padding: 2rem;
    gap: 2rem;
  }

  section img {
    width: 40%;
    height: auto;
    margin: 0px;
    padding: 0px;
  }

  .product__page {
    flex-direction: row;
    align-items: stretch;
  }

  .product__page-div {
    margin-top: 40px;
  }

  .product__page img {
    width: 40%;
    max-width: 400px;
    margin: 50px 25px;
  }

  .cart__item {
    flex-direction: row;
  }
}

/* Tablets in landscape mode and small desktops (min-width: 992px) */
@media (min-width: 992px) {
  .home__section {
    display: flex;
  }

  .home__section:nth-child(2) {
    flex-direction: row-reverse;
  }

  .home__section img {
    display: flex;
    width: 30%;
    margin: 50px;
    height: auto;
  }

  .news__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .image-right {
    float: right;
  }

  header h1 {
    font-size: 40px;
  }

  nav ul {
    font-size: 30px;
    gap: 2rem;
  }
}

/* Large desktops (min-width: 1200px) */
@media (min-width: 1200px) {
  section {
    padding: 3rem;
    gap: 2rem;
  }

  section img {
    width: 30%;
    height: auto;
  }
}
